<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yubarajkalathoki.mpay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NtcPrepaidActivity" />
        <activity android:name=".RechargeCardActivity" />
        <activity android:name=".NcellTopupActivity" />
        <activity android:name=".NtcPostPaidActivity" />
        <activity android:name=".ADSLTopupActivity" />
        <activity android:name=".DishHomeTopupActivity" />
        <activity android:name=".SimTVActivity" />
        <activity android:name=".EsewaTransferActivity"></activity>
    </application>

</manifest>